<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Welcome to To Do List</h1>


    <h1>you deleted everything</h1>
    <a href="/"><button type="button" name="button">Home</button></a>
    </div>
</body>
</html>
